<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
<div class="container" >
<h1>Coronavirus Tracker Application</h1>
<p>This application lists the current number of cases reported across the globe</p>

<div class="jumbotron">
    <h1 class="display-4" th:text="${totalReportedCases}">Total Cases</h1>
    <p class="lead">Total Cases reported as of today.</p>
    <hr class="my-4">
    <p>
       <h6> <span>New Cases Reported Today : </span>
    <span th:text="${totalNewCases}"></span></h6>
    </p>
</div>
<!--<p th:text="${testName}"></p>-->

<table class="table table-bordered">
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Cases Reported</th>
        <th>Difference in Cases from Previous Day</th>
    </tr>
    <tr th:each="locationStats : ${locationStats}">
        <td th:text="${locationStats.state}"></td>
        <td th:text="${locationStats.country}"></td>
        <td th:text="${locationStats.latestTotalCases}">0</td>
        <td th:text="${locationStats.DifferenceInCases}">0</td>
    </tr>
</table>
</div>

</body>

</html>